body {
    background-color: rgb(188, 255, 176);
  }
  
  button {
    font-size: 15px;
    padding: 20px 20px;
    border-radius: 10px;
    width: 80%;
    border: 5px solid #4CAF50;
    background-color: rgb(235, 238, 190);
    color: rgb(23, 104, 209);
    border: 5px solid #4CAF50; 
  }
  
  input[type=number],input[type=text],input[type=date],input[type=password],input[type=radio] {
    background-color: #fc8c8c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px 2px
  }
  
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffae00;
  }

  