<html>
    <head>
        <title>locanto automatización</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <form action="#" method="post">
            <div class="container">
              <h1>Información</h1>
              <p>Por favor complete este formulario para proceder</p>
              <hr>
              
              <label for="subcategory"><b>Arte, música, baile :</b></label>
              <select name="subsubclase" id="subsubclase" required>
                <option value="" >Por favor seleccione una opción</option>
                <option value="text=Clases de baile" >Clases de baile</option>
                <option value="text=Clases de canto" >Clases de canto</option>
                <option value="text=Clases de música" >Clases de música</option>
                <option value="text=Clases de pintura/manualidades" >Clases de pintura/manualidades</option>
                <option value="text=Clases de teatro" >Clases de teatro</option>
              </select>
              <hr>
            </div>
            <button type="submit" class="registerbtn"  >Empezar</button>