<html>
    <head>
        <title>locanto automatización</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <form action="#" method="post">
            <div class="container">
              <h1>Información</h1>
              <p>Por favor complete este formulario para proceder</p>
              <hr>
              
              <label for="category"><b>Relaciones ocasionales :</b></label>
              <select name="subsubcontact" id="subsubventa" required>
                <option value="" >Por favor seleccione una opción</option>
                <option value="text=Soy una mujer buscando un hombre" >Soy una mujer buscando un hombre</option>
                <option value="text=Soy un hombre buscando una mujer" >Soy un hombre buscando una mujer</option>
                <option value="text=Soy una mujer buscando otra mujer" >Soy una mujer buscando otra mujer</option>
                <option value="text=Aventuras virtuales" >Aventuras virtuales</option>
                <option value="text=Soy un hombre buscando otro hombre" >Soy un hombre buscando otro hombre</option>
                <option value="text=Soy un transexual buscando otro hombre" >Soy un transexual buscando otro hombre</option>
                <option value="text=Estoy buscando fetichista" >Estoy buscando fetichista</option>
                <option value="text=Somos una pareja buscando una mujer" >Somos una pareja buscando una mujer</option>
                <option value="text=Somos una pareja buscando un hombre" >Somos una pareja buscando un hombre</option>
                <option value="text=Somos una pareja buscando otra pareja" >Somos una pareja buscando otra pareja</option>
              </select>
              <hr>
            </div>
            <button type="submit" class="registerbtn"  >Empezar</button>
        </form>
    </body>
</html>