<html>
    <head>
        <title>locanto automatización</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <form action="#" method="post">
            <div class="container">
              <h1>Información</h1>
              <p>Please fill in this form to proceed</p>
              <hr>
              
              <label for="category"><b>Servicios eróticos (masajes, etc...) :</b></label>
              <select name="subsubcontact" id="subsubventa" required>
                <option value="" >Por favor seleccione una opción</option>
                <option value="text=#L_P_209_20905" >Escorts</option>
                <option value="text=Gigolos" >Gigolos</option>
                <option value="text=Escorts transexuales" >Escorts transexuales</option>
                <option value="text=Dóminas, escorts BDSM" >Dóminas, escorts BDSM</option>
                <option value="text=Masajes eróticos" >Masajes eróticos</option>
                <option value="text=Strippers" >Strippers</option>
                <option value="text=Artículos eróticos" >Artículos eróticos</option>
                <option value="text=Clubs" >Clubs</option>
                <option value="text=Fotografía erótica" >Fotografía erótica</option>
                <option value="text=Líneas eróticas, webcams" >Líneas eróticas, webcams</option>
                <option value="text=Trabajos eróticos" >Trabajos eróticos</option>
                <option value="text=Otros servicios eróticos" >Otros servicios eróticos</option>
            </select>
              <hr>
            </div>
            <button type="submit" class="registerbtn"  >Empezar</button>
        </form>
    </body>
</html>