<html>
    <head>
        <title>locanto automatización</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <form action="#" method="post">
            <div class="container">
              <h1>Información</h1>
              <p>Por favor complete este formulario para proceder</p>
              <hr>
              
              <label for="category"><b>Trabajo :</b></label>
              <select name="subTrabajo" id="subTrabajo" required>
                <option value="" >Por favor seleccione una opción</option>
                <option value="text=Administración, oficina" >Administración, oficina</option>
                <option value="text=Arte, cultura" >Arte, cultura</option>
                <option value="text=Atención al cliente, call center" >Atención al cliente, call center</option>
                <option value="text=Banca, finanzas" >Banca, finanzas</option>
                <option value="L_J_620" >Comercio</option>
                <option value="text=Comercio, ventas" >Comercio, ventas</option>
                <option value="text=Comunicación, marketing" >Comunicación, marketing</option>
                <option value="text=Construcción, mantenimiento" >Construcción, mantenimiento</option>
                <option value="text=Creativos, diseño" >Creativos, diseño</option>
                <option value="text=Educación" >Educación</option>
                <option value="text=Funcionarios públicos" >Funcionarios públicos</option>
                <option value="text=Informática" >Informática</option>
                <option value="text=Ingeniería" >Ingeniería</option>
                <option value="text=Legal, consultoría" >Legal, consultoría</option>
                <option value="text=Mano de obra" >Mano de obra</option>
                <option value="text=Marketing multinivel" >Marketing multinivel</option>
                <option value="text=Medicina, salud" >Medicina, salud</option>
                <option value="text=Operarios y oficios" >Operarios y oficios</option>
                <option value="text=Pasantías" >Pasantías</option>
                <option value="text=Recursos humanos" >Recursos humanos</option>
                <option value="text=Trabajo social, ONG" >Trabajo social, ONG</option>
                <option value="text=Trabajos técnicos" >Trabajos técnicos</option>
                <option value="text=Transporte, logística" >Transporte, logística</option>
                <option value="text=Turismo, hostelería, gastronomía" >Turismo, hostelería, gastronomía</option>
                <option value="text=Otros trabajos" >Otros trabajos</option>
                <option value="text=Empleo ocasional" >Empleo ocasional</option>
                <option value="text=Prácticas" >Prácticas</option>
              </select>
              <hr>
            </div>
            <button type="submit" class="registerbtn"  >Empezar</button>